.container-alterar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30%;
    width: 40%;
}

input[type=date],
input[type=text],
input[type=file],
select,
input[type=number],
input[type=password],
input[type=checkbox] {
    background-color: #1591F1;
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: 1.8px solid #1591F1;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    height: 40px;
}

input[type=date]:hover,
input[type=text]:hover,
input[type=file]:hover,
select:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=checkbox]:hover {
    border: 1.8px solid #6a6a6a;
}

input[type=date]:focus,
input[type=text]:focus,
input[type=file]:focus,
select:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=checkbox]:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.label-cadastra {
    width: 100%;
    margin: 5px 0 0 0;
    display: block;
    box-sizing: border-box;
    font-size: 15px;
}

.container-alterar h2 {
    width: 100%;
    text-align: center;
}

.button-form {
    background-color: #1591F1;
    color: #101d11;
    padding: 10px;
    margin: 15px 0 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

.button-form-altera {
    background-color: #1592F1;
    color: #6a6a6a;
    padding: 10px;
    margin: 15px 0 0 1%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

.button-form-voltar a {
    width: 100%;
    height: 100%;
}

.button-form-altera a {
    width: 100%;
    height: 100%;
}

.button-form-altera:hover {
    background-color: #005780;
}

.button-form-voltar {
    background-color: #1592F1;
    color: black;
    padding: 10px;
    margin: 15px 1% 0 30%;
    border: none;
    cursor: pointer;
    border: 1px solid #3c3b3b;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

.button-form-voltar:hover {
    background-color: #bbbaba;
}

.lote_button {
    display: flex;
    margin-left: 20px;
}

.button-form-adicionar-lote {
    background-color: #1592F1;
    color: #101d11;
    padding: 10px;
    margin: -50px 0 0 10vw;
    border: none;
    cursor: pointer;
    width: 15vw;
    margin-left: 42vw;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.div-metade {
    width: 48%;
    margin: 0 1% 0 1%;
}

.div-inteira {
    width: 98%;
    margin: 0 1% 0 1%;
}

.button-form-adicionar-lote:hover {
    background-color: #000
}

.button-form:hover {
    background-color: #000;
}

.botoes-adiciona {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

@media (max-width:800px) {
    .container-alterar {
        margin-left: 20vw;
        width: 60vw;
    }
    input[type=date],
    input[type=text],
    input[type=file],
    select,
    input[type=number],
    input[type=password],
    input[type=checkbox] {
        width: 100%;
        font-size: 15px;
    }
    .button-form {
        width: 20vw;
        font-size: 13px;
    }
    .button-form-adicionar-lote {
        margin: 15px 0 0 20vw;
        width: 20vw;
        margin-left: 80vw;
        height: 30px;
        font-size: 15px;
    }
    .label-cadastra {
        width: 100%;
        font-size: 13px;
    }
}

@media (max-width:500px) {
    .container-alterar {
        font-size: 13px;
        margin-left: 10%;
        width: 80%;
    }
    .button-form-adicionar-lote {
        margin: 0;
        padding: 0;
        width: 40vw;
        margin-left: 30vw;
        height: 35px;
        font-size: 15px;
    }
    input[type=date],
    input[type=text],
    input[type=file],
    select,
    input[type=number],
    input[type=password],
    input[type=checkbox] {
        width: 100%;
        font-size: 13px;
    }
}